{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
<h1>{{request.user.username}} {% trans " personal account" %}</h1>

<div>{% trans 'Your personal information' %}</div>
<br>
{% if is_not_authors %}
<button> <a href="upgrade/"> {% trans 'Стать автором!' %}</a> </button>
{% endif %}
<br>
<a href="{% url 'account_email' %}">{% trans "Change E-mail" %}</a>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
